<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608474165833-4don1rcp3p06c67gs8271399meodgthi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608474165833-4don1rcp3p06c67gs8271399meodgthi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>608474165833-3mdc6cvvf2ek3l6ont7aq4vuivcs7knr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwvd3TWImRvtnf4AmncU7SC_FefX2v3rc</string>
	<key>GCM_SENDER_ID</key>
	<string>608474165833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hutechGo</string>
	<key>PROJECT_ID</key>
	<string>hutech-peaga-xyz</string>
	<key>STORAGE_BUCKET</key>
	<string>hutech-peaga-xyz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608474165833:ios:5f6871888c33d6965c8598</string>
</dict>
</plist>